<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="usuario" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="confirmacionContrasena" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="correoElectronico" type="email"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="registrarUsuario()">Registrar</ion-button>

  <div *ngIf="registroExitoso" class="exito">
    <p>¡Registro exitoso!</p>
  </div>
</ion-content>
